_site
*.code-workspace
reports
.sass-cache
local

.jekyll-cache
site-builder/docs
.python-version
site-builder/notes
node_modules
docs-dev/notes

proto.*
*.log
/.dendron.*

csci251-copads
org-private
rit-courses-notebook
vault
dendron
csci251-copads
csci251-copads